<app-primary-layout>
  <div class="section section-gray text-center">
    <h2 class="title-uppercase cookbook-title text-primary">{{isOwner ? 'My': (user$|async)?.first + "'s"}} Cookbook</h2>
  </div>
  <div class="section profile-content text-center">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          @if ((user$|async)?.image_url) {
            <img [src]="(user$|async)?.image_url" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          }
          @if (!(user$|async)?.image_url) {
            <img src="/assets/images/no-image.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          }
          @if (isOwner) {
            <div class="text-primary">
              <label for="file-upload">
                <i class="fa fa-camera pointer"></i>
                <span class="pointer"> {{(user$|async)?.image_url ? 'Replace Image': 'Add image'}}</span>
              </label>
              <input id="file-upload" accept=".png, .jpg, .jpeg" type="file" style="display:none" (change)="onFileSelected($event)">
            </div>
          }
        </div>
        <div class="name">
          <h4 class="title">{{(user$|async)?.first}} {{(user$|async)?.last}}<br /></h4>
          <h6 class="description">{{(user$|async)?.location}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <p>{{(user$|async)?.bio}}</p>
          <br />
          @if (isOwner) {
            <button
              class="btn btn-outline-primary btn-round mb-3"
              (click)="goCreateRecipe()">
              <i class="fa fa-cog"></i>
              Add Recipe
            </button>
          }
          <app-text-filter></app-text-filter>
        </div>
      </div>
    </div>
  </div>
  <div class="main text-center">
    <div class="container">
      <h2 class="title text-primary">My Recipes</h2>
      <div class="row">
        @for (recipe of (filteredRecipes$|async); track recipe) {
          <div class="col-md-4">
            <div class="card card-plain pointer" (click)="goRecipe(recipe)">
              <div class="card-image">
                @if (recipe.image_url) {
                  <img class="img-thumbnail img-responsive" [src]="recipe.image_url">
                }
                @if (!recipe.image_url) {
                  <img class="img-thumbnail img-responsive" src="/assets/images/no-image.png">
                }
              </div>
              <div class="card-block">
                <h4 class="card-title text-primary">{{recipe.name}}</h4>
                <p class="card-description text-center">
                  {{recipe.description}}
                </p>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</app-primary-layout>
