/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';

.pointer {
  cursor: pointer;
}

.modal-body .fa-times {
  position: absolute;
  right: 20px;
  top: 14px;
  font-size: 18px;
  cursor: pointer;
}

