<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudVersion</key>
	<string>5DD62091-BE19-4168-A8A7-A65E9042DA91</string>
	<key>storeUUID</key>
	<string>A50C234D-7D47-4956-9B8B-D56A02A346D0</string>
</dict>
</plist>
