<app-primary-layout>
  <div class="container mb-5 text-center">
    <h1 class="inline-icon">
      <i class="fas fa-exclamation-triangle me-3 text-primary"></i>
      <span>
        @switch (route.snapshot.params['error']) {
          <!-- 400 Bad Request -->
          @case ('400') {
            <span>Sorry, the server cannot process that request.</span>
          }
          @case ('401') {
            <span>Sorry, you do not have permission to view that page.</span>
          }
          @case ('403') {
            <span>Sorry, you do not have permission to view that page.</span>
          }
          @case ('404') {
            <span>The page you are looking for does not exist. Please check the URL and try again.</span>
          }
          @case ('410') {
            <span>The record you're looking for has been deleted.</span>
          }
          @case ('422') {
            <span>An unexpected error has occured.</span>
          }
          @case ('500') {
            <span>An unexpected error has occured.</span>
          }
          @case ('503') {
            <span>Sorry, the site is down for maintenance.</span>
          }
        }
      </span>
    </h1>
    <div>
      <span>
        @switch (route.snapshot.params['error']) {
          @case ('400') {
            <h6>400: Bad Request</h6>
          }
          @case ('401') {
            <h6>401: Unauthorized</h6>
          }
          @case ('403') {
            <h6>403: Forbidden</h6>
          }
          @case ('404') {
            <h6>404: Page Not Found</h6>
          }
          @case ('410') {
            <h6>410: Gone</h6>
          }
          @case ('422') {
            <h6>422: Unprocessable Entity</h6>
          }
          @case ('500') {
            <h6>500: Internal Server Error</h6>
          }
          @case ('503') {
            <h6>503: Service Unavailable</h6>
          }
        }
      </span>
    </div>
  </div>
</app-primary-layout>
