<app-primary-layout>
  <div class="page-header" style="background-image: url('./assets/images/pasta2.png');">
    <div class="filter"></div>
    <div class="card card-register">
      <h3 class="title">Welcome</h3>
      <form [formGroup]="form" class="register-form">
        <label class="text-primary">First Name</label>
        <input type="text"
          class="form-control"
          placeholder="First Name"
          type="text"
          formControlName="first">
        <label class="text-primary">Last Name</label>
        <input type="text"
          class="form-control"
          placeholder="Last Name"
          type="text"
          formControlName="last">
        <label class="text-primary">Home Town</label>
        <input type="text"
          class="form-control"
          placeholder="EX: Houma, La"
          type="text"
          formControlName="location">
        <label class="text-primary">Email</label>
        <input type="text"
          class="form-control"
          placeholder="Email"
          type="email"
          formControlName="email">
        <label class="text-primary">Password</label>
        <input type="text"
          class="form-control"
          placeholder="Password"
          type="password"
          formControlName="password">
        <label>Password Confirmation</label>
        <input type="text"
          class="form-control"
          placeholder="Password Confirmation"
          type="password"
          formControlName="password_confirmation">
        <small class="text-black">Password must be at least 6 characters long and contain at least one letter and one digit</small>
      </form>
      @if (errorMessage) {
        <ngb-alert
          type="danger"
          [dismissible]="false">
          <div class="container">
            <ng-container>
              <i class="fa fa-bell"></i>
            </ng-container>
            {{errorMessage}}
          </div>
        </ngb-alert>
      }
      <button class="btn btn-primary btn-block btn-round"
        (click)="signUp()">
        Sign Up
      </button>
    </div>
  </div>
</app-primary-layout>
