<app-primary-layout>
  <div class="header section section-gray text-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 offset-md-3 text-center">
          <h2 class="title-uppercase cookbook-title text-primary">Search Recipes</h2>
          <app-text-filter></app-text-filter>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row following">
        <div class="col-md-12 text-center">
          <ul class="list-unstyled">
            @for (recipe of (filteredRecipes$ | async) | slice: (page - 1) * pageSize : page * pageSize; track recipe) {
              <ng-container (click)="goRecipe(recipe)">
                <li class="border-bottom mb-3">
                  <div class="row align-items-center">
                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                      @if (recipe.image_url) {
                        <img class="card-img-table img-thumbnail img-no-padding img-responsive pointer" [src]="recipe.image_url" alt="Recipe Image" width="100" height="70" (click)="goRecipe(recipe)">
                      }
                      @if (!recipe.image_url) {
                        <img class="card-img-table img-thumbnail img-no-padding img-responsive pointer" src="/assets/images/no-image.png" alt="No Image" width="100" height="70" (click)="goRecipe(recipe)">
                      }
                    </div>
                    <div class="col-md-8 col-sm-4 ml-auto">
                      <h6>
                        <span (click)="goRecipe(recipe)"
                          class="text-primary pointer">
                          {{ recipe.name }}
                        </span>
                        <br/>
                        <small>{{ recipe.description }}</small>
                        <div class="like-icon like" ngbTooltip="{{recipe.liking_users_names}}">
                          <i class="fa fa-thumbs-up"></i>
                          <span>  {{recipe.like_count}}</span>
                        </div>
                      </h6>
                    </div>
                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                      <h6 (click)="goUser(recipe)"
                        class="text-primary pointer">
                        {{ recipe.user?.first }} {{ recipe.user?.last }}
                      </h6>
                      <small>Contributor</small>
                    </div>
                  </div>
                </li>
              </ng-container>
            }
          </ul>
        </div>
      </div>
      <div class="ms-4">
        <pagination
          [records]="recipes$"
          [filteredRecords]="filteredRecipes$"
          label="Total Recipes"
          [page]="page"
          [pageSize]="pageSize"
          (pageChanged)="page = $event">
        </pagination>
      </div>
    </div>
  </div>
</app-primary-layout>
