<app-primary-layout>
  <div class="page-header" style="background-image: url('./assets/images/pasta2.png');">
    <div class="filter"></div>
    <div class="card card-register">
      <h3 class="title">Welcome</h3>
      <button class="btn btn-outline-primary btn-block btn-round mb-2" (click)="signInWithFB()">
        <i class="fa-brands fa-facebook me-2"></i> Continue with Facebook
      </button>
      <form [formGroup]="form" class="register-form">
        <label class="text-primary">Email</label>
        <input type="text"
          class="form-control"
          placeholder="Email"
          type="email"
          formControlName="email">
        <label class="text-primary">Password</label>
        <input type="text"
          class="form-control"
          placeholder="Password"
          type="password"
          formControlName="password">
      </form>
      @if (errorMessage) {
        <ngb-alert
          type="danger"
          [dismissible]="false">
          <div class="container">
            <ng-container>
              <i class="fa fa-bell"></i>
            </ng-container>
            {{errorMessage}}
          </div>
        </ngb-alert>
      }
      <button class="btn btn-primary btn-block btn-round"
        (click)="login()">
        Login
      </button>
      <div class="forgot">
        <a (click)="forgotPassword()" class="btn btn-link btn-primary">Forgot password?</a>
      </div>
    </div>
  </div>
</app-primary-layout>
