@if (collectionSize > 0) {
  <div class="pagination-wrapper nav-pills-primary">
    <div class="pagination-count">{{collectionSize}} {{ label }}</div>
    <ngb-pagination
      class="pagination d-flex justify-content-center"
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="collectionSize"
      (pageChange)="pageChange()">
      <ng-template ngbPaginationPrevious>
        @if (page!=1) {
          <a href class="pagination-link prev-link">
            <i class="fa fa-chevron-left"></i>
          </a>
        }
        @if (page==1) {
          <span class="pagination-link prev-link disabled">
            <i class="fa fa-chevron-left"></i>
          </span>
        }
      </ng-template>
      <ng-template ngbPaginationNext>
        @if (upper!=total) {
          <a href class="pagination-link next-link">
            <i class="fa fa-chevron-right"></i>
          </a>
        }
        @if (upper==total) {
          <span class="pagination-link next-link disabled">
            <i class="fa fa-chevron-right"></i>
          </span>
        }
      </ng-template>
    </ngb-pagination>
  </div>
}
